@font-face {
  font-family: "ReadexPro";
  src: url("../src/assets/fonts/ReadexPro.ttf") format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../src/assets/fonts/JetBrainsMono.ttf") format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("../src/assets/fonts/CascadiaCode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("../src/assets/fonts/UbuntuMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../src/assets/fonts/FiraCode.ttf") format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../src/assets/fonts/RobotoMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "ReadexPro", sans-serif;
}

.container {
  display: flex;
  background-color: #1a1b26;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.actionBarContainer {
  width: 80px;
}

.codeEditorContainer {
  height: 100%;
  overflow: hidden;
}

.resultsViewContainer {
  height: 100%;
  overflow: hidden;
}

.panelResizeHandle {
  background-color: rgb(196, 181, 253);
  height: 100%;
  width: 1px;
}
