@font-face {
  font-family: "ReadexPro";
  src: url("../src/assets/fonts/ReadexPro.ttf") format("truetype-variations");
  font-weight: 100 900;
}

:root {
  font-family: "ReadexPro", sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 80px 1fr 1fr;
  background-color: #1a1b26;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.actionBarContainer {
  grid-column: 1 / -1;
}

.codeEditorContainer {
  grid-column: 2;
  overflow: hidden;
}

.resultsViewContainer {
  grid-column: 3;
  overflow: hidden;
}
